<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../public/shop.css">
   <!-- 페이징 테스트 -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <!--  -->
</head>
<body>

    <h1>충청북도&충청남도 주점</h1>


    <div>
        <!-- http://localhost:3000/stores/test 로 돌아가기 -->
        <button type="button" id="chungcheong" onClick="location.href='test'">전체보기</button> 
    </div>
    <div>
        <% for (var i=0; i < data.length; i++) { %>
            <h2 class="title">주점명 : <% if(data[i].address.includes("충남")){%>
                    <p>
                        <%=data[i].name%>
                    </p>
                    <%} %>
            </h2>
            <p class="img">주소 : <% if(data[i].address.includes("충남")){%>
                    <p>
                        <%=data[i].address%>
                    </p>
                    <p>
                        <%=data[i].menu%>
                    </p>
                    <%} %>
            </p>
            <!-- <h2 class="SeoulTitle">서울 주점: <%= data[i].name %></h2> -->
            <% } %>
        
    </div>


    <script>

    </script>
</body>
</html>