<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font-style -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <!-- font-awsome -->
    <script src="https://kit.fontawesome.com/388ade87ec.js" crossorigin="anonymous"></script>

   <!-- css file -->
   <link rel="stylesheet" href="../css/reset.css">
   <link rel="stylesheet" href="../css/indexPage/container.css">
   <link rel="stylesheet" href="../css/indexPage/header.css">
   <link rel="stylesheet" href="../css/indexPage/nav.css">
   <link rel="stylesheet" href="../css/indexPage/main.css">

   <!-- javascript -->
   <script defer src="../javascript/carousel.js"></script>
   <script defer src="../javascript/isLogined.js"></script>
</head>
<body>
    <div class="container">
        <nav class="nav">
            <div class="left__slide__menu__box">
                <div class="user__open__button open__button">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="nav__logo">
                <a href="/index" class="logo__title">Stupping</a>
            </div>
            <div class="nav__search">
                <form action="/drink" method="get">
                    <div class="search__box">
                        <input type="search" placeholder="술 이름" name="title" id="title">
                        <input type="submit" value="ok">
                    </div>
                </form>
            </div>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="list">
                        <a href="/index">home</a>
                    </li>
                    <li class="list">
                        <a href="/new/index">signup</a>
                    </li>
                    <li class="list">
                        <a class="login" href="">
                            <%= isLogined %>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/my-pages/index">mypage</a>
                    </li>
                </ul>
            </div>
            <div class="right__slide__menu__box">
                <div class="menu__open__button open__button">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        <header class="header">
            <div class="header__carousel">
                <div class="carousel__entire__box">
                    <div class="carousel__item">
                        <a href="/drink-type/index">술 취향검사</a>
                    </div>
                    <div class="carousel__item">캐러셀2</div>
                    <div class="carousel__item">캐러셀3</div>
                </div>
            </div>
            <div class="carousel__shift__box">
                <div class="shift"></div>
                <div class="shift"></div>
                <div class="shift"></div>
            </div>
        </header>
        <main class="main">
            <div class="main__header"></div>
            <div class="main__section">
                <% for(let i=0; i<12; i++){ %>
                    <div class="item item<%= i %>">
                        <div class="item__img">
                            <img src="../img/logo.png" alt="">
                        </div>
                        <div class="item__contents">
                            <% for(let j = 0; j < keyArr.length; j++){ %>
                                <div class="contents">
                                    <span class="content contents__property"><%= keyArr[j] %></span>
                                    <span class="content contents__value"><%= drink[i][keyArr[j]] %></span>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </main>
    </div>
</body>
</html>