.section{
    border : 3px solid black;
    display : grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    'aside header'
    'aside article';
}
.section > *{
    border : 2px solid black;
}
/* result section 헤더 */
.section__header{
    grid-area : header;
}

/* result section 사이드바 */
.section__aside{
    grid-area : aside;
}

/* result section 메인! */
.section__article{
    position : relative;
    overflow-y: scroll;

    display : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows : minmax(90px, auto);
    grid-gap : 1vh;
    padding : 1vh;

}
.section__article > *{
    border : 1px solid black;
}